.painting {
    width: 869px;
    margin-left: 16px;
    margin-right: 16px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    &__img-info {
        min-height: 280px;
    }
    &__img {
        max-width: 280px;
        border-radius: 12px;
        margin-left: 32px;
        margin-right: 32px;
    }
    &__content {
        margin-top: 32px;
        min-height: 280px;
    }
    &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
        margin-bottom: 4px;
    }
    &__author {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #575757;
        margin-bottom: 10px;
    }
    &__star {
        color: #151515;
    }
    &__star.white {
        color: #EBEBEB;
    }
    &__desc {
        margin-top: 25px;
        width: 100%;
    }
    &__desc-element {
        width: 100%;
    }
    &__desc-element-text {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #A9A9A9;
    }
    &__desc-element-text.stock {
        color: #6A983C;
    }
    &__price {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #151515;
    }
    &__free {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #A9A9A9;
    }
    &__delivery {
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: #A9A9A9;
    }
    &__purchase {
        margin-top: 32px;
        min-height: 280px;
        margin-right: 32px;
    }
    &__button {
        min-width: 164px;
        min-height: 47px;
        box-sizing: border-box;
        border-radius: 12px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
    }
    &__button.add {
        background: #6A983C;
        border: 2px solid #46760A;
    }
    &__button.remove {
        background: #d14421;
        border: 2px solid #530c02;
    }
}

@media screen and(max-width:'1200px') {
    .painting {
        width: 700px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}

@media screen and(max-width:'750px') {
    .painting {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        &__purchase {
            margin-top: 0px;
            margin-right: 0px;
        }
    }
}
